@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

.dribbleTags { /* stylelint-disable */
	width: 100%;
}

.list{
	list-style-type: none;
	margin: 15px 0px 0px 0px;
	padding: 0px;
	text-transform: capitalize;
	text-align: center;
	font-family: 'Roboto';   
}

.listItem{
	margin: 0px;
	background-color:#098;
	color: #f9f5f1;
	border-bottom: 1px solid #f9f5f1;
	padding-left: 15px;  
	height: 40px;
	font-weight: 400;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}

.listItemSelected{
	background-color:#098;
	color: #f9f5f1;
	height: 40px;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;	
}

.checkHolder{
	border: 2px solid #f9f5f1;
	border-radius: 4px;
	width: 25px;
    position: absolute;
    right: 15px;
}

.listItemSelected .checkHolder{
	background-color: #333333;
	transition: background-color .25s;
}

 .checkHolder > span{
	color: #098;
}