.shotsDribble { /* stylelint-disable */
	display: flex;
	width: 100%;
	background: #dddddd;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	background: #dddddd;
}

.navigationBar{
	background-color: white;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 15vh;
}

.dribblesContainer{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	height: 85vh;
}
.sideContainer{
    align-items: flex-start;
    display: flex;
	order: 1;
	width: 20%;
	background: #098;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mainContainer{
	display: flex;
	order: 2;
	width: 80%;
	background: #333333;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;	
}

.singleShotWrapper{
	position: relative;
	background: white;
	padding: 15px;
	margin: 15px;
	max-width: 230px;
	min-height: 236px;
}

/*
 *  STYLE 1
 */


.sideContainer::-webkit-scrollbar-track,
.mainContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.sideContainer::-webkit-scrollbar,
.mainContainer::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.sideContainer::-webkit-scrollbar-thumb,
.mainContainer::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

.navigationBarLink{
	text-decoration: none;
    color: white;
    background: #098;
    padding: 15px 10px;
    border-radius: 4px;
}

.infoWrapper{
	display: flex;
	align-items: center;;
}

.title{
	display: inline-block;
	width: 75%;
	text-overflow: ellipsis;
	white-space: nowrap;
 	overflow: hidden;
}

.likes{
	display: inline-block;
	width: 25%;
	text-align: right;
}

.singleShotWrapper .overlayTags{
    position: absolute;
    z-index: 999;
    background: rgba(255,255,255,0.8);
    height: 206px;
    width: 200px;
    display: none;
}

.overlayTags > p > span{
	color: #098;
	text-transform: capitalize;
}

.overlayTags > p > span:after{
	content: ',';
}

.overlayTags > p > span:first-child:after{
	content: '';	
}

.overlayTags > p > span:last-child:after{
	content: '';	
}

.singleShotWrapper:hover .overlayTags{
    display: block;
    top: 15px;
}